@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nxh3dx');
  src:  url('fonts/icomoon.eot?nxh3dx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nxh3dx') format('truetype'),
    url('fonts/icomoon.woff?nxh3dx') format('woff'),
    url('fonts/icomoon.svg?nxh3dx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e905";
}
.icon-api:before {
  content: "\e900";
}
.icon-dynamic:before {
  content: "\e901";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-speed:before {
  content: "\e903";
}
.icon-web:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
