body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-carousel .slick-slide {
  text-align: center;
  /* height: 600px !important; */
  width: 400px !important;
  line-height: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ant-carousel .slick-slide h3 {
  color: red;
}

.slick-slide > div {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 400px;
  /* height: 400px; */
  margin: 0px auto;
}

.slick-slide > div > img {
  width: 400px;
  /* height: 400px; */
  margin: 0px auto;
}
